@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: 'CircularStd';
    src: url('/fonts/CircularStd-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }

  html {
    font-family: CircularStd, system-ui, sans-serif;
    font-weight: 200;
  }

  body {
    @apply text-white;
  }

  .link {
    @apply flex items-center gap-3 font-100 text-base text-gray-500 transition-all duration-150 ease-out cursor-pointer hover:text-white;
  }

  .link svg path {
    stroke: rgb(107 114 128 / var(--tw-text-opacity));
  }

  .link:hover svg path {
    stroke: white;
  }

  .activeLink svg path {
    stroke: white;
    fill: white;
  }

  .btn {
    @apply bg-[#1CD760] text-black text-sm font-200 py-3 px-5 rounded-full uppercase tracking-[3px] border-0 outline-none transition-all duration-300 ease-out active:scale-90 active:bg-[#159B45];
  }

  .btn-outline {
    @apply bg-transparent border border-gray-400 text-white text-base font-100 py-2 px-5 rounded-full outline-none transition-all duration-300 ease-out hover:scale-110 hover:bg-black hover:border-white;
  }

  .btn-hover {
    @apply cursor-pointer opacity-50 transition-all duration-200 ease-out  hover:opacity-100 active:scale-90;
  }

  .border-red {
    @apply border-2 border-red-500;
  }

  .title-1 {
    @apply text-white text-[36px];
  }

  .title-2 {
    @apply text-white text-[24px];
  }
}
